
.project
.settings/org.eclipse.m2e.core.prefs
tax-calculation-service/taxcalculationservice-service/.classpath
tax-calculation-service/taxcalculationservice-service/.settings/.jsdtscope
tax-calculation-service/taxcalculationservice-service/.settings/org.eclipse.core.resources.prefs
tax-calculation-service/taxcalculationservice-service/.settings/org.eclipse.jdt.core.prefs
tax-calculation-service/taxcalculationservice-service/.settings/org.eclipse.m2e.core.prefs
tax-calculation-service/taxcalculationservice-service/.settings/org.eclipse.wst.common.component
tax-calculation-service/taxcalculationservice-service/.settings/org.eclipse.wst.common.project.facet.core.xml
tax-calculation-service/taxcalculationservice-service/.settings/org.eclipse.wst.jsdt.ui.superType.container
tax-calculation-service/taxcalculationservice-service/.settings/org.eclipse.wst.jsdt.ui.superType.name
tax-calculation-service/taxcalculationservice-service/.settings/org.eclipse.wst.validation.prefs
taxcalculationservice-client-models/.flattened-pom.xml
taxcalculationservice-service/.classpath
taxcalculationservice-service/.flattened-pom.xml
taxcalculationservice-service/.settings/org.eclipse.jdt.core.prefs
/.metadata/
/.settings/
/.idea/
taxcalculationservice-client-models/.sts4-cache/classpath-data.json
taxcalculationservice-service/.settings/org.eclipse.m2e.core.prefs
taxcalculationservice-service/.settings/org.springframework.ide.eclipse.prefs
taxcalculationservice-service/.sts4-cache/classpath-data.json
